<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>记账本</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class="content">
    <a class="listbtnout" href="/logout">退出登录</a>
    <a class="listbtn" href="/account/create">添加账单</a>
    <h1>记账本</h1>
    <hr>
    <% data.forEach(item=> { %>
      <div class="item">
        <div class="top">
          <span>
            <%= moment(item.time).format('YYYY-MM-DD') %>
          </span>
        </div>
        <div class="down">
          <div class="text">
            <%= item.title %>
          </div>
          <div class="sort">
            <span class="out">
              <% if(item.type=='out' ){ %>
                支出
                <% }else if(item.type=='in' ){ %>
                  收入
                  <% } %>
            </span>
          </div>
          <div class="money">
            <%= item.money %>元
          </div>
          <div>
            <a href="/account/<%= item.id %>">x</a>
          </div>
        </div>
      </div>
      <% }) %>
  </div>
</body>

</html>