.mitu{
    height: 271px;
    width: 132px;
    margin: 150px auto;
    background-image: url(../images/bigtap-mitu-queue-big.png);
    background-position: 0 0;
    transition: .3s steps(3);
}

.mitu:hover{
    background-position: -396px 0;
}