.trump {
    width: 100px;
    height: 100px;
    background: url(../images/trump_run.png);
    margin: 150px auto;
    animation: trumpforward 1s steps(6) infinite ;
}

@keyframes trumpforward {
    from {
        background-position: 0 0;
    }
    25%{
        background-position: -600px 0;
    }
    25.1%{
        background-position: 0 -100px;
    }
    50%{
        background-position: -600px -100px;
    }
    50.1%{
        background-position: 0 -200px;
    }
    75%{
        background-position: -600px -200px;
    }
    75.1%{
        background-position: 0 -300px;
    }
    to {
        background-position: -600px -300px;
    }
}