body {
    background-color: #F4F4F4;
}

.content {
    width: 590px;
    height: 470px;
    background-color: aqua;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.img_box>img {
    width: 590px;
    height: 470px;
    position: absolute;
}

.img_box>img:hover {
    cursor: pointer;
}

.ib_left_select,
.ib_right_select {
    position: absolute;
    width: 25px;
    height: 35px;
    background: rgba(0, 0, 0, .1);
    color: white;
    font-size: 15px;
    font-weight: bolder;
    line-height: 33px;
    text-align: center;
    top: 50%;
    transition: .1s;
}

.ib_left_select {
    border-radius: 0 50% 50% 0;
    left: 0;
}

.ib_left_select:hover {
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.ib_right_select {
    border-radius: 50% 0 0 50%;
    right: 0;
}

.ib_right_select:hover {
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}



.ib_bottom_select {
    position: absolute;
    bottom: 20px;
    left: 35px;
}

.ib_bottom_select ul li {
    height: 10px;
    width: 10px;
    float: left;
    margin-left: 4px;
    border-radius: 100%;
    background: rgba(0, 0, 0, .1);
}


.ib_bottom_select ul li:hover {
    outline: 3px solid rgba(0, 0, 0, .1);
    background: white;
}