html {
  font-size: 5.33333333vw;
  background-color: #FFFFFF;
}
.content {
  padding: 0 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .topbar {
  height: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content .topbar .title {
  flex-grow: 1;
}
.content .middleimg {
  height: 6.9rem;
  border-radius: 10px;
  background: url(../images/0901.jpg) center / cover;
}
.content .button {
  height: 8.425rem;
  display: flex;
  justify-content: space-between;
}
.content .button .bleft {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content .button .bleft .mycourses {
  width: 8.175rem;
  height: 2.55rem;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: white;
  background: #FE8268;
}
.content .button .bleft .starteacher {
  width: 8.175rem;
  height: 2.55rem;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: white;
  background: #C657FF;
}
.content .button .bright {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.content .button .bright .subscription {
  width: 8.175rem;
  height: 2.55rem;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: white;
  background: #FCAD00;
}
.content .button .bright .mydownload {
  width: 8.175rem;
  height: 2.55rem;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16px;
  color: white;
  background: #1D92FF;
}
.content .detail {
  height: 10.9rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.content .detail .title {
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .detail .title .more {
  color: #656565;
}
.content .detail .datailcontent {
  display: flex;
  justify-content: space-between;
}
.content .detail .datailcontent .leftcourse {
  width: 7.2rem;
  display: flex;
  flex-direction: column;
}
.content .detail .datailcontent .leftcourse .coursepic {
  width: 7.2rem;
  height: 3.9rem;
  background: url(../images/0902.jpeg) center / cover;
}
.content .detail .datailcontent .leftcourse .coursename {
  margin: 0.625rem 0;
  font-size: 16px;
}
.content .detail .datailcontent .leftcourse .profile {
  width: 1.025rem;
  height: 1.05rem;
  border-radius: 50%;
  border: 1px solid #656565;
  background: url(../images/0904.png) center / cover;
  display: inline-block;
}
.content .detail .datailcontent .leftcourse .teachername {
  display: inline-block;
  font-size: 16px;
  color: #656565;
  vertical-align: top;
  line-height: 1.05rem;
}
.content .detail .datailcontent .rightcourse {
  width: 7.2rem;
  display: flex;
  flex-direction: column;
}
.content .detail .datailcontent .rightcourse .coursepic {
  width: 7.2rem;
  height: 3.9rem;
  background: url(../images/0902.jpeg) center / cover;
}
.content .detail .datailcontent .rightcourse .coursename {
  margin: 0.625rem 0;
  font-size: 16px;
}
.content .detail .datailcontent .rightcourse .profile {
  width: 1.025rem;
  height: 1.05rem;
  border-radius: 50%;
  border: 1px solid #656565;
  background: url(../images/0904.png) center / cover;
  display: inline-block;
}
.content .detail .datailcontent .rightcourse .teachername {
  display: inline-block;
  font-size: 16px;
  color: #656565;
  vertical-align: top;
  line-height: 1.05rem;
}
.content .detail .datailcontent .rightcourse .coursepic {
  background: url(../images/0903.jpg) center / cover;
}
/*# sourceMappingURL=./vw.css.map */